body{
    background-color: aquamarine;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}

.session{
    display: grid;
    place-items: center;
    background-color: rgb(206, 235, 235);
    width: 500px;
    height: 350px;
    border-radius: 20px;



   
}
.correo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5px 2px;
    

    
}

.dato{
    background: none;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 300px;
    border-bottom: solid 1px green;
}

.boton{
    background-color: aqua;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}

.contra{

}
.opcion{
    height: 40px;
    width: 80px;
    top: 10%;
    left: 0;
    position: absolute;
}